                .div {
                    width: 1050px;
                    margin: 40px auto;
                    font-size: 25px;
                    line-height: 1.5;
                    font-family: Arial, Helvetica, sans-serif;
                }
                .dd {
                    width: 1050px;
                    margin: 40px auto;
                    font-size: 25px;
                    line-height: 1.5;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                }
                th, td{
                    border:1px solid black;
                    padding:8px 14px;
                }
                .table{
                    border-collapse: collapse;
                    font-family: Arial, Helvetica, sans-serif;
                    text-align:center;
                    width: 850px;
                }
                .container{
                    width:600px;
                }
                .title{
                    background:black;
                    color:white;
                    text-align:center;
                    font-weight:bold;
                    padding:10px;
                    font-size:22px;
                }
                .row{
                    display:flex;
                    align-items:center;
                }
                .label{
                    width:160px;
                    padding:12px;
                    font-size:20px;
                }
                .colon{
                    width:20px;
                    text-align:center;
                    font-size:20px;
                }
                .input{
                    flex:1;
                    padding:10px;
                }
                input[type=text]{
                    width:90%;
                   height:30px;
                }
                textarea{
                    width:90%;
                    height:90px;
                }
                .orange{ background:#e87c2d; }
                .blue{ background:#3c78b5; }
                .yellow{ background:#f2b600; }
                .green{ background:#70ad47; }
                .black{ background:black; }
                .white{ color:white; }
                button{
                    margin-top:15px;
                    padding:10px 40px;
                    font-size:18px;
                }
                .submit{
                    text-align:center;
                }